// ? == Variables ==

$color-orange: #fb8f1d;
$color-grey: #b8becd;
$color-black: #202336;
$color-select: #afb0b9;
$color-descr: #7d7987;
$background-footer: #f9f9fb;
$footer-text: #848484;

// ? == /Variables ==

// ? == FONTS ==
@import 'fonts.css';
// ? == /FONTS ==

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Inter, 'Playfair Display', Mulish, sans-serif;
  background-color: #fff;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.site-container {
  overflow: hidden;
}

.list-reset {
  list-style-type: none;
}

.no-scroll {
  overflow: hidden;
}

//! == btn ==

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn {
  font-size: 17px;

  outline: none;
  border-radius: 8px;
}

.btn-login {
  margin: 0 20px 0 40px;

  border: 1px solid $color-orange;
  color: $color-orange;
}

.btn-fill {
  background-color: $color-orange;
  color: white;
}

.btn--small {
  width: 132px;
  height: 44px;
}

.btn--large {
  width: 164px;
  height: 48px;
}

//! == /btn ==

.list-reset {
  list-style-type: none;
}

.title {
  font-family: 'Playfair Display';
  font-size: 39px;
  font-weight: 700;
  line-height: 48px;

  color: #000;
}

.desc {
  font-family: 'Mulish';
  font-size: 19px;
  font-weight: 300;
  line-height: 30px;

  color: $color-descr;
}

.view-all {
  margin: 16px 43px 0 auto;

  font-size: 19px;

  color: $color-orange;

  &::after {
    content: '>';
    padding-left: 10px;
    font-size: 14px;
  }
}

.container {
  max-width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
}

//* == /universal ==

//? == header ==
.header {
  margin: 44px 0;

  &__container {
    display: flex;
    align-items: center;
  }

  &__btn {
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 500;
  }
}

.nav {
  margin-left: auto;

  &__list {
    display: flex;
  }

  &__item {
    font-family: 'Mulish';
    color: $color-grey;

    &:not(:first-child) {
      margin-left: 44px;
    }

    &--selected {
      color: $color-black;
    }
  }
}

//? == /header ==

//? == MODAL ==

.modal {
  position: fixed;
  top: 0;
  left: 0;

  display: none;
  width: 100%;
  height: 100%;

  background-image: url('../img/background.png');

  z-index: 5;

  &-container {
    position: absolute;
    top: 50px;
    left: 50%;

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;

    background-color: #fff;
    color: $color-black;

    transform: translateX(-50%);
  }

  &-header {
    position: relative;

    width: 100%;

    text-align: center;

    border-bottom: 2px solid $color-grey;
  }

  &-title {
    padding: 25px 0 15px 0;

    font-size: 30px;
  }

  &-close,
  &-close::after {
    position: absolute;

    width: 25px;
    height: 2px;

    background-color: #171009;
    outline: none;

    transition: opacity 0.3s linear;
    cursor: pointer;
  }

  &-close {
    top: 20px;
    right: 12px;

    opacity: 0.4;

    transform: rotate(45deg);

    &:hover {
      opacity: 1;
      transition: opacity 0.2s ease-out;
    }

    &::after {
      content: '';

      top: 0;
      right: 0;

      opacity: 0.7;

      transform: rotate(-90deg);

      &:hover {
        opacity: 1;
        transition: opacity 0.2s ease-out;
      }
    }
  }

  &-content {
    width: 100%;

    padding: 25px;
  }

  &-form {
    display: flex;
    flex-direction: column;
  }

  &-label {
    padding-bottom: 10px;

    font-size: 22px;
  }

  &-input {
    width: 85%;
    height: 30px;

    margin: 0 auto 40px;
    padding: 10px 10px 10px 0;

    font-size: 18px;

    border: 0;
    outline: none;
    border-bottom: 1px solid $color-grey;

    &::placeholder {
      font-size: 17px;
    }
  }

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 40px;

    margin: 0 auto;
  }
}

//? == /MODAL ==

//? == FIRST SECTION ==

.finder {
  position: relative;

  padding-top: 73px;
  padding-bottom: 150px;

  &__heading {
    margin-bottom: 71px;

    font-family: 'Playfair Display';
    font-size: 68px;
    line-height: 80px;
    font-weight: bold;

    color: $color-black;
  }

  &__text {
    font-size: 22px;
    font-weight: 600;
    color: $color-black;

    &::after {
      content: '';
      display: block;

      width: 33px;
      height: 2px;

      margin-top: 20px;

      background-color: $color-black;
    }
  }

  &__selects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 470px;

    margin-top: 48px;
    margin-bottom: 67px;
  }

  &__select {
    width: 220px;
    height: 52px;

    padding-left: 30px;

    font-size: 17px;
    line-height: 32px;

    appearance: none;

    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: 180px 25px;
    background-color: white;

    border: 0.8px solid $color-select;
    border-radius: 6px;
    outline: none;

    cursor: pointer;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:nth-child(n + 3) {
      margin-top: 35px;
    }
  }

  &__btn {
    padding: 15px 61px;

    cursor: pointer;
  }

  &__img {
    position: absolute;
    right: 290px;
    top: 35px;
  }
}

//? == /FINDER ==

//? == EXPLORE ==

.explore {
  position: relative;

  margin-top: 183px;
  padding-bottom: 300px;

  &__img {
    position: absolute;
    left: 327px;
    top: 0;
  }

  &__container {
    display: flex;
    justify-content: flex-end;
  }

  &__text {
    padding-right: 70px;
    padding-top: 100px;
  }

  &__desc {
    margin-top: 20px;
    margin-bottom: 39px;
  }
}

//? == /EXPLORE ==

//? == DESTINATIONS ==

.destination {
  padding-top: 106px;
  padding-bottom: 250px;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    padding-left: 50px;
  }

  &__list {
    display: flex;
    align-items: center;

    margin-left: 50px;
    margin-top: 55px;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__img {
    border-radius: 8px;
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: -1px;

    width: 121px;
    height: 60px;

    padding-top: 16px;

    background-color: #fff;

    border-radius: 0 6px 0 0;
  }

  &__subtitle {
    font-size: 17px;
    font-weight: 600;
  }
}

//? == /DESTINATIONS ==

//? == GUIDE ==

.guide {
  position: relative;
  padding-bottom: 200px;

  margin-top: 140px;

  &__container {
    padding-left: 70px;
  }

  &__desc {
    padding-top: 20px;
  }

  &__btn {
    margin-top: 38px;
  }

  &__img {
    position: absolute;
    bottom: 107px;
    right: 416px;
  }
}

//? == /GUIDE ==

//? == testimonials ==
.testimonials {
  padding-top: 143px;
  padding-bottom: 100px;

  &__container {
    display: flex;
    align-items: center;

    position: relative;

    padding-left: 70px;
  }

  &__list {
    display: flex;
    align-items: center;

    padding-top: 145px;
  }

  &__item {
    width: 25px;
    height: 23px;

    background-image: url('../img/star.svg');
    background-repeat: no-repeat;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__text {
    padding-top: 35px;

    font-size: 26px;
    font-family: 'Mulish';
    line-height: 35px;
  }

  &__name {
    padding-top: 51px;

    font-weight: bold;
    font-size: 23px;
  }

  &__post {
    padding-top: 10px;

    font-size: 19px;
  }

  &__img {
    margin-bottom: -205px;
    padding-left: 202px;
  }

  &__btn-group {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 171px;
    bottom: -98px;

    width: 132px;
    height: 60px;

    padding-top: 20px;

    background-color: #fff;

    border-top-left-radius: 16px;
  }

  &__btn {
    width: 40px;
    height: 40px;

    border: 2px solid;
    border-radius: 100%;
    outline: none;

    font-weight: bold;

    &--left {
      margin-left: 30px;

      border-color: #d7d7d7;

      color: #d7d7d7;
    }

    &--right {
      margin-left: 20px;
    }
  }
}
//? == /testimonials ==

//? == STORIES ==

.stories {
  margin-top: 286px;
  margin-bottom: 271px;

  &__container {
    display: flex;
    flex-wrap: wrap;

    padding-left: 70px;
  }

  &__list {
    display: flex;

    padding-top: 54px;
  }

  &__item:not(:last-child) {
    padding-right: 25px;
  }

  &__img {
    width: 261px;
    height: 232px;
  }

  &__subtitle {
    padding-top: 13px;

    font-size: 20px;
    line-height: 27px;
  }

  &__desc {
    padding-top: 11px;
    padding-bottom: 29px;

    font-size: 17px;
    line-height: 27px;
  }

  &__link {
    color: $color-orange;
  }
}

//? == /STORIES ==

//? == FOOTER ==

.footer {
  background-color: #f9f9fb;

  &__container {
    display: flex;
    flex-wrap: wrap;

    padding-top: 80px;
  }

  &__text {
    padding-top: 31px;

    font-size: 18.5px;
    line-height: 27px;
    font-weight: 300;

    color: $footer-text;
  }

  &__right {
    padding-top: 61px;

    font-size: 17.5px;

    color: $footer-text;
  }

  &__left-side {
    padding-right: 165px;
  }

  &__list-group {
    display: flex;

    padding-top: 15px;
  }

  &__list:not(:last-child) {
    padding-right: 155px;
  }

  &__item {
    &:first-child {
      padding-bottom: 26px;
    }

    &:not(:first-child) {
      padding-bottom: 18px;
    }
  }

  &__subtitle {
    font-size: 19px;
    font-weight: 700;
  }

  &__link:not(&__subtitle) {
    font-size: 17px;
    font-weight: 300;

    color: #848484;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  margin-top: 68px;
  padding-top: 30px;
  padding-right: 63px;
  padding-bottom: 28px;

  border-top: 0.6px solid #c4c4c4;

  &__item:not(:last-child) {
    padding-right: 35px;
  }

  &__link {
    display: inline-block;

    background-repeat: no-repeat;

    &--tw {
      width: 25px;
      height: 20px;

      background-image: url('../img/twitter.svg');
    }

    &--fb {
      width: 10px;
      height: 22px;

      background-image: url('../img/facebook.svg');
    }

    &--inst {
      width: 22px;
      height: 22px;

      background-image: url('../img/inst.svg');
    }

    &--in {
      width: 23px;
      height: 22px;

      background-image: url('../img/in.svg');
    }

    &--yt {
      width: 28px;
      height: 20px;

      background-image: url('../img/youtube.svg');
    }
  }
}

//? == /FOOTER ==
